/* ==|====================
   Layout/Footer
   ======================= */

.g-footer {
  width: 100%; height: auto; @include position(fixed, null null 0 0); padding: 45px 0 40px 0; margin: 0; z-index: 4; background-color: $col1; border-top: 1px solid $col2; z-index: 1;
}

.footer_custom{  background-color: #FF6900 !important; min-height: 15vh; height: 15vh; margin-bottom: 0% !important; padding-bottom: 0% !important;
  color: white;
    padding-top: 2%; text-align: center;}
.list-footer{
  list-style: none;
}

.list-social{ 
  margin: 3% 0%;
  li{
    margin: 0 5%;
    img{
      width: 30px;
    }
  }
}



/* Footer */
#footer{
  background-color: var(--orange-c2c);
}
.foo-cont{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-foo, .contact-foo a{
  color: white;
  font-size: 1rem;
  font-family: 'Akzidenz-Grotesk BQ', sans-serif; 
  font-weight: 500;
  line-height: 2;
  word-wrap: break-word;
  list-style: none;
  //padding: 2rem;
  text-decoration: none;
}

.aviso{
  color: white;
    font-size: .8rem;
    font-family: 'Akzidenz-Grotesk BQ', sans-serif; 
    font-weight: 500;
    text-decoration: underline !important;
    word-wrap: break-word;
    padding-left: 0% !important;
    &:hover{
      color: white !important;
      text-decoration: none;
      cursor: pointer;
      
    }
    &:visited{
      color: white;
      text-decoration: none;
    }
}

.ancordFooter{
  &:hover{
    color: white !important;
    text-decoration: none;
    cursor: pointer;
    
  }
  &:visited{
    color: white;
    text-decoration: none;
    color: white;
    
  }
}

.iconmailFooter{
  width: 30px !important;
  height: 40px !important;
  vertical-align: middle;
  margin-right: 10px;
}

.iconwhatsFooter{
  width: 30px !important;
  height: 30px !important;
  vertical-align: middle;
  margin-right: 2%;

}

.ir-arriba{
  cursor: pointer;
}

.contact-foo{
  li{
    &:nth-child(1){
      margin-left: 16%;
    }
  }
}

.list-social{
  li{
    
      img{
        width: 60px;
        height: 60px;
        margin:  0% 5%;
      }
    }
  
}